/* MAIN.CSS */
.app-title{
    padding: 15px 30px!important;
}
.app-title h1 {
    font-size: 18px!important;
}

/* CUSTOM CSS*/
.profile-img{
    width: 150px;
    padding: 10px;
    border: 1px solid #3c3c3c;
}
.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}